html, body {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	
	background-color: rgb(13,13,13);
	margin: 0px;
	
	-webkit-tap-highlight-color: transparent;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

body {
	position: relative;
	background-color: rgb(13,13,13);
}