<div class="page">
	<!--Tab Bar-->
	<div class="tab-bar">
		<button class="tab-item map-screen-item">
			<div class="tab-icon"></div>
			<div class="tab-label">Карта</div>
		</button>
		<button class="tab-item profile-screen-item">
			<div class="tab-icon"></div>
			<div class="tab-label">Баллы</div>
		</button>
	</div>
	<!--Swipe screens-->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide map-screen">
				<!--Map Screen Here-->
				<canvas id="map"></canvas>
				<img style="position:absolute;visibility:hidden;" id="background" src="assets/background.jpg" style="visibility:hidden">
				<div class="capture-screen">
					<button class="capture-button ui-text">ЗАХВАТИТЬ</button>
					<div class="points-cost">
						<div class="image-point cost-icon"></div>
						<span class="ui-text cost">...</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide profile-screen">
				<!--Profile Screen Here-->
				<div class="change-team-button ui-text">
					<span class="selected-team">Выбрать Класс</span>
				</div>
				
				<div class="task-holder"></div>
			</div>
		</div>
	</div>
	<!--User UI-->
	<div class="ui">
		<span class="ui-text team-name">Класс: ...</span>
		<br>
		<span class="ui-text user-id">#</span>
			<div class="points-info">
			<span class="ui-text points">.../...</span>
			<div class="image-point points-icon"></div>
		</div>
	</div>
</div>