<div class="page">
	<div class="tab-bar">
		<button class="tab-item map-screen-item">
			<div class="tab-icon"></div>
			<div class="tab-label">Tab 1</div>
		</button>
		<button class="tab-item profile-screen-item">
			<div class="tab-icon"></div>
			<div class="tab-label">Tab 2</div>
		</button>
	</div>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide map-screen">
				<!--Map Screen Here-->
				<canvas id="map"></canvas>
				<img id="background" src="assets/background.jpg" style="visibility:hidden">
			</div>
			<div class="swiper-slide profile-screen">
				<!--Profile Screen Here-->
				
			</div>
		</div>
	</div>
</div>