.profile-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.change-team-button {
	position: absolute;
	top: 160px;
	width: calc(100vw - 128px - 16px);
	min-height: 64px;
	height: 8vh;
	
	box-shadow: 0px 0px 32px black;
	
	text-align: center;
	font-family: ui-text;
	color: rgb(13,13,13);
	font-size: 4.5vh;
	line-height: 8vh;
	
	background-color: rgb(255, 255, 250);
	border-radius: 32px;
	
	-webkit-user-select: none;
    -moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	z-index: 3;
}

.teams-holder {
	position: absolute;
	top: calc(160px + 8vh - 32px);
	width: calc(100vw - 128px - 16px);
	height: 16px;
    padding-top: 32px;
	
	display: flex;
	flex-grow: 1;
	justify-content: space-evenly;
	flex-direction: column;
	
	overflow: hidden;
	background-color: rgb(255, 255, 250);
	box-shadow: 0px 0px 32px black;
	
	border-bottom-left-radius: 32px;
	border-bottom-right-radius: 32px;
	
	transition: 0.2s;
	z-index: 2;
}

.change-team-button:active {
	filter: brightness(0.9);
}

.change-team {
	position: relative;
	top: 0px;
	left: -8px;
	width: calc(100vw - 128px);
	height: auto;
	
	display: flex;
	flex-grow: 1;
	padding: 0px;
	align-items: center;
	text-align: center;
	
	background-color: transparent;
	opacity: 0;
	
	-webkit-user-select: none;
    -moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: none;
	overflow: hidden;
	
	font-size: 4.5vh;
	transition: 0.2s;
	z-index: 10;
}

.change-team:active {
	background-color: rgba(0, 0, 0, 0.1);
}

.change-team-icon {
	width: 4vh;
	height: 4vh;
	
	position: absolute;
	right: 0px;
    margin-right: 64px;
	
	filter: drop-shadow( 0px 8px 16px rgba(0, 0, 0, 0.2) );
}

.change-team-count {
	position: absolute;
	right: 0px;
    margin-right: calc(64px + 4vh + 16px);
	line-height: 100%;
	
	text-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.change-team-name {
	float: left;
	margin-left: 64px;

	color: rgb(49, 49, 49);
	font-size: 4.5vh;
	font-family: ui-text;
}