.map-wrapper {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#map {
	position: absolute;
	left: 0px;
	top: 0px;

	width: 100vw;
	height: 100%;

	background-color: rgb(0,0,0);

	z-index: 2;
}

#map-text {
	position: absolute;
	left: 0px;
	top: 0px;

	width: 100vw;
	height: 100%;

	background-color: rgba(0,0,0,0);

	z-index: 3;
}

.capture-screen {
	position: relative;
	top: 16px;
	
	width: calc(100vw - 8px * 2);
	height: 14vh;

	transform: translateY(0);
	
	background-color: rgba(0, 0, 0, 0.6);
	border: solid 8px rgb(0, 0, 0, 0.8);
	border-radius: 16px;
	
	display: flex;
	align-items: center;

	transition: 0.2s;

	z-index: 3;
}

.capture-button {	
	width: calc(100% - 7vh - (16px * 2) - (32px * 2) - 130px);
	height: 9vh;
	margin: 32px;
	
	background-color: rgba(140, 0, 10, 0.4);
	border: solid 8px rgb(140, 0, 10);
	
	font-size: 4.5vh;
	
	border-radius: 32px;
}

.capture-button:active {
	filter: saturate(2);
}

.points-cost {
	display: flex;
	align-items: center;
}

.cost-icon {
	float: right;
	
	width: 6vh;
	height: 6vh;
}

.cost {
	float: right;
	margin: 48px;
	
	font-size: 96px;
}