html, body 
{
	overflow: hidden;
	position: fixed;
	width: 100%;
	
	background-color: rgb(13,13,13);
	margin: 0px;
}

body
{
	position: relative
}

.tab-bar
{
	position: absolute;
	left: -8px;
	bottom: -8px;
	
	height: calc(8.6% + 8px);
	min-height: 150px;
	width: calc(100% + 16px);
	
	border-top: solid 1px rgb(49,49,49);
	background-color: rgb(23,23,23);
}

.tab-item
{
	position:relative;
	float: left;
	
	display: flex;
	justify-content: center;
	
	width: 50%;
	height: 100%;
}

.tab-icon
{
	width: 96px;
	height: 96px;
	
	background-color: rgb(128, 128, 128);
}