.swiper-container 
{
	position: relative;
	bottom: 0px;
	
    width: 100%;
    height: calc(100vh - 152px);
	
	opacity: 0;
	transition: 0.3s;
}

.swiper-wrapper
{
	width: 200vw;
	height: 100%;
	overflow: hidden;
}
    
.swiper-slide 
{
    text-align: center;
    font-size: 42px;
    background: #fff;
	top: 0px;
	height: 100%;
	float: left;
	
    display: flex;
    justify-content: center;
    align-items: center;
}