.swiper-container 
{
	position: relative;
	bottom: 0px;
	
    width: 100%;
    height: calc(100% - 152px);
	
	opacity: 0;
	transition: 0.3s;
}

.swiper-wrapper
{
	width: 200%;
	height: 100%;
	overflow: hidden;
}
    
.swiper-slide 
{
	height: 100%;
	float: left;
}