<div class="page">
	<!--Tab Bar-->
	<div class="tab-bar">
		<button class="tab-item map-screen-item">
			<div class="tab-icon"></div>
			<div class="tab-label">Tab 1</div>
		</button>
		<button class="tab-item profile-screen-item">
			<div class="tab-icon"></div>
			<div class="tab-label">Tab 2</div>
		</button>
	</div>
	<!--Swipe screens-->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide map-screen">
				<!--Map Screen Here-->
				<canvas id="map"></canvas>
				<img style="position:absolute" id="background" src="assets/background.jpg" style="visibility:hidden">
				<div class="capture-screen">
					<button class="capture-button ui-text">ЗАХВАТИТЬ</button>
					<div class="clicks-cost">
						<div class="image-click cost-icon"></div>
						<span class="ui-text cost">424</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide profile-screen">
				<!--Profile Screen Here-->
				
			</div>
		</div>
	</div>
	<!--User UI-->
	<div class="ui">
		<span class="ui-text team-name">Класс: ...</span>
		<br>
		<span class="ui-text user-id">#</span>
			<div class="clicks-info">
			<span class="ui-text clicks">42/48</span>
			<div class="image-click clicks-icon"></div>
		</div>
	</div>
</div>