<div class="map-wrapper">
	<canvas id="map"></canvas>
	<canvas id="map-background"></canvas>
</div>

<div class="teams-population">
	<img class="svg avatar-icon">
	<div class="teams-population-data"></div>
</div>

<div class="timer-holder">
	<img class="svg timer-icon"/>	
	<span class="timer ui-text">-:--</span>
</div>

<img class="svg top-icon"/>	
<div class="teams-top"></div>
<div class="link-holder">
	<span class="link ui-text">http://clc.la/swars</span>
</div>
<img class="qr" src="assets/qr.png">

<img style="position:absolute;visibility:hidden;" id="background" src="assets/background.svg">