body {
	background-color: rgb(20, 20, 20);
}

.map-wrapper {
	position: absolute;
	top: 64px;
	
	width: calc(100% - 128px);
	height: calc(100% - 64px);
}

#map {
	position: absolute;
	left: 0px;
	top: 0px;

	width: 100%;
	height: 100%;

	background: transparent;

	z-index: 2;
}

#map-background {
	position: absolute;
	left: 0px;
	top: 0px;
	
	width: 100%;
	height: 100%;

	z-index: 1;
}