<!--Map Screen Here-->
<div class="map-wrapper">
	<canvas id="map"></canvas>
	<canvas id="map-background"></canvas>
</div>
<img style="position:absolute;visibility:hidden;" id="background" src="assets/background.jpg">

<div class="teams-data">
	<!--панелька с картинками (кубок (место), буквы (название), лицо (кол-во участников), шестиугольник (кол-во территории))-->

	<div class="team" id="team-1">
		<div class="team-place">#1</div>
		<div class="team-name">11А</div>
		<div class="team-users">1</div>
		<div class="team-territory">42</div>
	</div>
</div>