<!--Map Screen Here-->
<div class="map-wrapper">
	<canvas id="map"></canvas>
	<canvas id="map-background"></canvas>
</div>
<div class="teams-population">
	<img class="svg avatar-icon">
	<div class="teams-population-data"></div>
</div>
<img class="svg top-icon"/>	
<div class="teams-top"></div>
<img style="position:absolute;visibility:hidden;" id="background" src="assets/background.jpg">

<!--div class="teams-holder">
	<div class="teams-data">
		<!--панелька с картинками (кубок (место), буквы (название), лицо (кол-во участников), шестиугольник (кол-во территории))>
		<div class="teams-data-header">
			<div>М</div>
			<div>Н</div>
			<div>У</div>
			<div>Т</div>
		</div>
	</div>
</div-->